html {
  background: teal;
}
  
body {
  background: white;
  border-radius: 10px;
  margin: 20px;
  padding: 80px;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}
  
main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: min-content 1fr 1fr;
  font-size: 24px;
}

main p {
  padding-right: 20px;
}

main input {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  background-color: rgba(145, 204, 206, 0.74);
}

h1.title {
  color: teal;
}

*:focus {
  outline: none;
}