html {
  background: teal;
}
  
body {
  background: white;
  border-radius: 10px;
  margin: 20px;
  padding: 80px;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}
  
main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: min-content 1fr 1fr;
  font-size: 24px;
}

main p {
  padding-right: 20px;
  background: teal;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: white;
  margin: 10px;
}

main input {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  background-color: rgba(93, 177, 180, 0.74);
  color: white;
  text-shadow: 1px 1px 6px teal;
}

h1.title {
  color: teal;
}

*:focus {
  outline: none;
}

.result {
  color: teal;
  background: none;
  text-align: left;
}

@media only screen and (max-width: 640px) {
    main {
        grid-template-columns: 1fr;
    }

    main p {
      font-size: 18px;
    }

    body {
      padding: 20px;
    }

    .title {
      text-align: center;
      font-size: 32px;
    }

    main input {
      font-size: 14px;
    }

    .result {
      font-size: 20px;
    }
}